<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Document</title>
  <link rel="stylesheet" href="./style.css" />
  <!--^ AXIOS -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!--^ VUE -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <header>
      <div class="container">
        <img @click="orderAlbumsByYear" src="images/logo.png" />
        <select v-model="selectedGenre">
          <option value="All" selected>All</option>
          <option v-for="element in albumsGenres" :value="element">{{ element }}</option>
        </select>
      </div>
    </header>
    <main class="container">
      <section id="album-container">
        <div class="card" v-for="element in orderedResponse">
          <img :src="element.poster" alt="New Jersey" />
          <h2 class="title">{{ element.title }}</h2>
          <address class="author">{{ element.euthor }}</address>
          <time :datetime="element.year" class="year">{{ element.year }}</time>
        </div>
      </section>
    </main>


  </div>
  <script src="./script.js"></script>
</body>

</html>